
<pre>
<center><b><h1>Python Programming - 2301CS404</b></center>
<center><b><h1>Lab - 2</b></center>
<center><b><h1>Zalavadiya Heet</b></center>
<center><b><h1>24010101311</b></center>
<pre>

### 01) WAP to print “Hello World..!!”

In [2]:
print("Hello World..")

Hello World..

### 02) WAP to accept your name and display a welcome message.
#### Input: Priya
#### Output: Hello Priya, welcome to Python Lab.

In [3]:
name = input("Enter your name")
print(f"Hello {name}, welcome to Python Lab")

Enter your name Priya

Hello Priya, welcome to Python Lab

### 03) WAP to accept three integers and display the numbers, their sum, and average.
#### Input: 10 20 30
#### Output: 
##### Numbers: 10 20 30
##### Sum: 60
##### Average: 20.0

In [10]:
a,b,c = map(int,input("Enter number").split())
print("Sum :" , (a+b+c))
print("Average :", (a+b+c)/3)

Enter number 10 20 30

Sum : 60
Average : 20.0

### 04) WAP to accept name (string), age (int), and percentage (float).
#### Input : Riya,18,92.5
#### Output : 
##### Name: Riya  Type: <class 'str'>
##### Age: 18  Type: <class 'int'>
##### Percentage: 92.5  Type: <class 'float'>

In [14]:
name, age, percentage = input().split(',')
age = int(age)
percentage = float(percentage)

print("Name:", name, "Type:", type(name))
print("Age:", age, "Type:", type(age))
print("Percentage:", percentage, "Type:", type(percentage))

 heet,18,99

Name: heet Type: <class 'str'>
Age: 18 Type: <class 'int'>
Percentage: 99.0 Type: <class 'float'>

### 05) WAP to print folowing message using custom separator and end.
#### Ouutput : Python | Programming | Basics###

In [15]:
print("python","programming","basic", sep = " | ", end = "###")

python | programming | basic###

### 06) WAP to accept a value and display its value, type, and memory id.
#### Input : hello
#### Output : 
##### Value: hello
##### Type: <class 'str'>
##### ID: 140712345678912

In [19]:
val = input()
print(f" value :{val} \n type: {type(val)} \n id : {id(val)}")

 hello

 value :hello
 type: <class 'str'>
 id : 1914104845904

### 07) WAP to assign a value to a variable, print id, reassign a new value, and print id again.
#### Output :
##### Original ID of a: 140712345678912
##### New ID of a: 140712345678960

In [20]:
a = "hello"
print(f"original id of a : {id(a)}")
a = "hi"
print(f"new id of a : {id(a)}")

original id of a : 1914098731600
new id of a : 140721519288192

### 08) WAP to print multiple lines using a single print().
#### Output:
##### Welcome to Python
##### This is the second lab
##### Enjoy coding!

In [22]:
print("""Welcome to python
This is the second lab
Enjoy coding""")

Welcome to python
This is the second lab
Enjoy coding

### 09) WAP to display following table of items with proper alignment.
#### Output :
| Sr No | Name        | Subject | Grade | Percentage |
| ----: | ----------- | ------- | :---: | ---------: |
|     1 | Nisha Patel | Math    |   A   |         92 |
|     2 | Aarav Modi  | Science |   B+  |         85 |
|     3 | Jiya Shah   | English |   A+  |         96 |

In [25]:
print(f"| {'Sr No':>5} | {'Name':<11} | {'Subject':<7} | {'Grade':^5} | {'Percentage':>10} |")
print(f"| {'-'*5:>5} | {'-'*11} | {'-'*7} | {'-'*5:^5} | {'-'*10:>10} |")
print(f"| {1:>5} | {'Nisha Patel':<11} | {'Math':<7} | {'A':^5} | {92:>10} |")
print(f"| {2:>5} | {'Aarav Modi':<11} | {'Science':<7} | {'B+':^5} | {85:>10} |")
print(f"| {3:>5} | {'Jiya Shah':<11} | {'English':<7} | {'A+':^5} | {96:>10} |")

| Sr No | Name        | Subject | Grade | Percentage |
| ----- | ----------- | ------- | ----- | ---------- |
|     1 | Nisha Patel | Math    |   A   |         92 |
|     2 | Aarav Modi  | Science |  B+   |         85 |
|     3 | Jiya Shah   | English |  A+   |         96 |

### 10) WAP to accept a float number and display with 2 decimals, 3 decimals, and width 10.
#### Input : 37.2567
#### Output :
##### 2 decimals: 37.26
##### 3 decimals: 37.257
##### Width 10:      37.26

In [30]:
a = float(input())
print(f"2 decimals: {a:.2f}")
print(f"3 decimals: {a:.3f}")
print(f"Width 10: {a:10.2f}")

 10

2 decimals: 10.00
3 decimals: 10.000
Width 10:      10.00

### 11) WAP to accept two integers and display sum, difference, and product using f-strings.
#### Input : 12 8
#### Output :
##### Sum = 20
##### Difference = 4
##### Product = 96

In [32]:
a,b = input().split()
a = int(a)
b = int(b)

print(f"sum =",a+b)
print(f"difference =",a-b)
print(f"product =",a*b)

 12 8

sum = 20
difference = 4
product = 96

### 12) WAP to accept date in dd mm yyyy format and display in multiple formats.
#### Input : 01 12 2025
#### Output :
##### 01/12/2025
##### 2025-12-01

In [33]:
d, m, y = input().split()

print(d + "/" + m + "/" + y)
print(y + "-" + m + "-" + d)

 01 12 2025

01/12/2025
2025-12-01

### 13) WAP to calculate area and perimeter of a circle.

In [34]:
r = float(input())
print(f"area :",3.14*r*r)
print(f"perimeter :",2*3.14*r)

 12

area : 452.15999999999997
perimeter : 75.36

### 14) WAP to convert degree into Fahrenheit and vice versa.

In [36]:
print("1. Celsius to Fahrenheit")
print("2. Fahrenheit to Celsius")

choice = int(input("Enter choice (1 or 2): "))

if choice == 1:
    c = float(input("Enter temperature in Celsius: "))
    f = (c * 9/5) + 32
    print("Fahrenheit:", f)

elif choice == 2:
    f = float(input("Enter temperature in Fahrenheit: "))
    c = (f - 32) * 5/9
    print("Celsius:", c)

else:
    print("Invalid choice")

1. Celsius to Fahrenheit
2. Fahrenheit to Celsius

Enter choice (1 or 2):  2
Enter temperature in Fahrenheit:  356

Celsius: 180.0

### 15) WAP to get the distance from user into kilometer, and convert it into meter, feet, inches and centimeter.

In [39]:
km = float(input("Enter distance in kilometers: "))

meter = km * 1000
feet = km * 3280.84
inch = km * 39370.1
cm = km * 100000

print("Meters:", meter)
print("Feet:", feet)
print("Inches:", inch)
print("Centimeters:", cm)

Enter distance in kilometers:  0.01

Meters: 10.0
Feet: 32.8084
Inches: 393.701
Centimeters: 1000.0